.dp__admin_card{
	background-color: $bg;
	max-width: 800px;
	border-radius: 5px;
	border: 1px solid $border;
	margin: var(--space__s) 0;	
	overflow: hidden;

	h2, h3{
		margin-top: 0;
	}
}

.dp__admin_card--body{
	padding: var(--space__s);
}

.dp__admin_card--header{
	padding: var(--space__xs) var(--space__s);
	border-bottom: 1px solid $border;
}

.dp__admin_card--footer{	
	padding: var(--space__xs) var(--space__s);
	border-top: 1px solid $border;
	background:$bg_sec;
}