/*===============================
=            Tabular            =
===============================*/
.dp__tabular{
    // border: 1px solid $border;
    background: $bg_sec;
    border-radius: var(--space__xxs);
    padding: var(--space__xxs);
    font-size: 13px;
    line-height: 1;

    > * {
        display: flex;
    }

    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    label{
        margin-right: var(--space__xs);
        
        span{
            padding: var(--space__xs) var(--space__s);
            display: inline-block;
            background: $bg;
            cursor: pointer;
            border-radius: var(--space__xxs);
            border: 1px solid transparent;

            &:hover{
                border: 1px solid $border;
            }
        }
    }

    input{
        display: none;

        &:checked ~ span{
            background: $pri;
            color: white;
            border: 1px solid $pri;
        }
    }
}