.dp__tabs{
	--border-r: 5px;

	.dp__tabs-navigation{

		

		display: flex;
		margin-bottom: -2px;

		.tab__trigger{
			padding: var(--space__xs) var(--space__s);
			display: block;
			border: 2px solid transparent;
			background-color: $text_sec;
			color: $bg;
			text-decoration: none;
		 	font-size: 1.3em;

			&:hover{
				background-color: $text;
			}

			&:first-child {
				border-radius:  var(--border-r)  0 0 0;		
			}

			&:last-child {
				border-radius:  0 var(--border-r) 0 0;		
			}


		}

		.tab__trigger.active{
			border: 2px solid $border;
			background-color: $bg;
			color: $pri;

			position: relative;

			&:after{
				content: '';
				display: block;
				background: $bg;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: -2px;
				left: 0;

			}
		}
	}

	.dp__tabs-content{
		border: 2px solid $border;
		background-color: $bg;
		border-radius:  0 var(--border-r)  var(--border-r) var(--border-r) ;

			.tab__content{
				padding: var(--space__s);
			}
	}

	.is-hidden{
		display: none;
	}

}