html .dp-framework{

.spinner{
    display: none;
}

// Theme
.dp__btn{
    display: inline-flex;
    font-size: 1.1em;
    text-decoration: none;  
    padding: var(--space__xs);  
    border-radius: 3px;
    font-weight: 300;
    letter-spacing: 0.02em;
    outline: 0;
    border: 0;
    transition: all 0.1s ease;
    cursor: pointer;
    background: $bg;
    color: $pri;
    border: 2px solid $pri;

    &:hover{
        opacity: 0.9;
    }

    &:active{
        transform: translateY(2px);
    }
}


.dp__btn-pri{
    background: $pri;
    border: 2px solid $pri;
    color: white;   
    
    &:hover, &:focus{
        color: white;   
    }
}

.dp__btn-sec{
    background: $sec;
    border: 2px solid $sec;
    color: black;
}

.dp__btn-delete{
    background: $alert;
    border: 2px solid $alert;
    color: white;
}

.dp__btn-text{
    background: none;
    color: $pri;
    text-decoration: underline;
    border: 2px solid transparent;

    &:hover{
        border: 2px solid $pri;
        text-decoration: none;
    }
}



// Sizes
.dp__btn-lg{
    font-size: 1.5em;
}

.dp__btn-sm{
    font-size: 0.9em;
}

.dp__btn-xsm{
    font-size: 0.9em;
    line-height: 1;
}




// Special 
.dp__btn-icon{
    gap: var(--space__xs);
    svg{
        fill: currentColor;
    }
}


}  // End of dP Framework