.dp__radio{
    *{
        box-sizing: border-box;
    }

    label{
        cursor: pointer;
    }
    
    // Reset
    input[type=radio]{
        border: none;
        clear: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        margin: 0;
    }

    // Style
    input[type=radio] {
        border-radius: 30px;
        background: none;
        border: 2px solid $border;
        
        height: 20px !important;
        width: 20px !important;
        margin-right: 5px;
        position: relative;
        z-index: 2;

        &:hover {
            border: 2px solid $pri;
        }

        &:checked {
            border: 2px solid $pri;      
            
            &:after{
                content: '';
                display: block;
                position: relative;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: $pri;
            }

            &:before{
                display: none;
            }
        }

        
    }

    label{
        display: inline-flex;
        align-items: center;
    }

}