// Breakpoints

$desktop:     1680px;
$laptop:      1280px;
$tablet:      900px;
$mobile:      600px;



// Breakpoints Mixin
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}