:root {
    --pri:      #2a6df4;
    --pri-hover:#0c57ed;
    --sec:      #ffeb57;
    --sec-hover:#edba39;

    --text:     #000000;
    --text_sec: #606e79;    
    --bg:       #ffffff;
    --bg_sec:   #f0f0f1;
    
    --border:   #d3d3d4;
    --disabled: #dee1e3;
    
    --info:     #3FA7D6;
    --alert:    #c41c3b;
    --success:  #59CD90;
}

[data-theme="dark"]{

    --pri:      #2a6df4;
    --pri-hover:#0c57ed;
    --sec:      #ffeb57;
    --sec-hover:#edba39;

    --text:     #f0f0f1;
    --text_sec: #ffffff;    
    --bg:       #606e79;
    --bg_sec:   #000000;
    
    --border:   #d3d3d4;
    --disabled: #dee1e3;
    
    --info:     #3FA7D6;
    --alert:    #c41c3b;
    --success:  #59CD90;

}


$pri_h:     var(--pri-hover);
$pri:       var(--pri);
$sec:       var(--sec);
$sec_h:     var(--sec-hover);

$text:      var(--text);
$text_sec:  var(--text_sec);

$bg:        var(--bg);
$bg_sec:    var(--bg_sec);

$border:    var(--border);
$disabled:  var(--disabled);

$info: var(--info);
$alert: var(--alert);
$success: var(--success);