// Sizes
$sizes: (
    "xxs":   5,
    "xs":   10,
    "s":    20,
    "m":    40,
    "l":    80,
    "xl":   120,
    "xxl":   180,
);

$sizes_mobile: (
    "xxs":   4,
    "xs":   8,
    "s":    15,
    "m":    30,
    "l":    60,
    "xl":   80,
    "xxl":  120,
    
);



// Sizes
:root {
  // each item in color map
  @each $name, $size in $sizes {
    --space__#{$name}: #{$size}px;
  }

  @include mobile{
    // each item in color map
    @each $name, $size in $sizes_mobile {
      --space__#{$name}: #{$size}px;
    }
  }
}



// Padding
@each $name, $size in $sizes {
    .p__#{$name}{  padding: var(--space__#{$name}); }}

@each $name, $size in $sizes {
    .p-top__#{$name}{  padding-top: var(--space__#{$name});    }}
    
@each $name, $size in $sizes {
    .p-bottom__#{$name}{   padding-bottom: var(--space__#{$name});    }}

@each $name, $size in $sizes {
  .p-y__#{$name}{  
    padding-top: var(--space__#{$name});
    padding-bottom: var(--space__#{$name});    }}

@each $name, $size in $sizes {
  .p-x__#{$name}{  
    padding-left: var(--space__#{$name});
    padding-right: var(--space__#{$name});    }}


// Margin
@each $name, $size in $sizes {
    .m__#{$name}{  margin: var(--space__#{$name}); }}

@each $name, $size in $sizes {
    .m-top__#{$name}{  margin-top: var(--space__#{$name}); }}

@each $name, $size in $sizes {
    .m-bottom__#{$name}{   margin-bottom: var(--space__#{$name});  }}
    
@each $name, $size in $sizes {
    .m-y__#{$name}{   
      margin-top: var(--space__#{$name});
      margin-bottom: var(--space__#{$name});  }}

@each $name, $size in $sizes {
    .m-x__#{$name}{   
      margin-left: var(--space__#{$name});
      margin-right: var(--space__#{$name});  }}


// Reset Padding and Marging
.p__none{   padding: 0; }
.p-top__none{   padding-top: 0; }
.p-bottom__none{   padding-bottom: 0; }

.m__none{   margin: 0; }
.m-top__none{   margin-top: 0; }
.m-bottom__none{   margin-bottom: 0; }
