$typo:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

body {
    font-family: $typo;    
}


html .dp-framework{
    font-size: 14px;
    
    h3{ font-size: 1em;}
}

