.dp__divider{
    background-color: $border;
    width: 100%;
    height: 1px;
    display: block;
    margin: var(--space__s) 0 var(--space__m) 0;
    border-radius: 4px;
}
// Usage
// <span class="dp__divider"></span>


.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    > * {
        margin: 0;
    }
}


.dp-framework .wp-heading-inline {
    font-weight: 700;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.vertical {
    display: flex;
    align-items: center;
}

.horizontal {

}


.full__w{
    width: 100%;
}

.full__w-element{
    > *{
        width: 100%;
    }
}

[class*=gap__xxs],
[class*=gap__xs],
[class*=gap__s],
[class*=gap__m],
[class*=gap__l],
[class*=gap__xl],
[class*=gap__xxl]
{
    
    --gap: var(--space__xxs);

    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));

    > * {
        margin-bottom: var(--gap);
        margin-left: var(--gap);
    }
}

.gap__xxs { --gap: var( --space__xxs)};
.gap__xs  { --gap: var( --space__xs)};
.gap__s   { --gap: var( --space__s)};
.gap__m   { --gap: var( --space__m)};
.gap__l   { --gap: var( --space__l)};
.gap__xl  { --gap: var( --space__xl)};
.gap__xx  { --gap: var( --space__xx)};


