.wp_admin_style{
    *{
        box-sizing: border-box;
    }

    label{
        cursor: pointer;
    }
    
    // Reset
    input[type=checkbox]{
        border: none;
        clear: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
    }

    // Style
    input[type=checkbox] {
        border-radius: 2px;
        background: none;
        border: 2px solid $border;
        
        height: var(--space-l) !important;
        width: var(--space-l) !important;
        margin: 0;
        margin-right: 5px;
        position: relative;
        z-index: 2;

        &:hover {
            border: 2px solid $pri;
        }

        &:checked {
            background-color: $pri;
            border: 2px solid $pri; 
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+Y2hlY2tfYm94X2JsYWNrXzI0ZHA8L3RpdGxlPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9ImNoZWNrX2JveF9ibGFja18yNGRwIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNMTYsMCBMMiwwIEMwLjg5LDAgMCwwLjkgMCwyIEwwLDE2IEMwLDE3LjEgMC44OSwxOCAyLDE4IEwxNiwxOCBDMTcuMTEsMTggMTgsMTcuMSAxOCwxNiBMMTgsMiBDMTgsMC45IDE3LjExLDAgMTYsMCBaIiBpZD0iUGF0aCI+PC9wYXRoPgogICAgICAgICAgICA8cG9seWdvbiBpZD0iUGF0aCIgZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSI3IDE0IDIgOSAzLjQxIDcuNTkgNyAxMS4xNyAxNC41OSAzLjU4IDE2IDUiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
            background-size: cover;            

            &:before{ content: ''; }
        }
    }

    label{
        display: inline-flex;
        align-items: center;
    }

}