.wp_admin_style .card{

    background-color: $bg-sec;
    border-radius: var(--space-s);
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.2);

    // Typography Reset
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
    }

    .header, .content, .footer{
        padding: var(--space-l);
    }

    .header{
        border-bottom: 1px solid $border;
    }

    .footer{
        border-top: 1px solid $border;
    }
}