$colors: (
    "pri":          #2a6df4,
    "pri-hover":    #0c57ed,
    "sec":          #ffeb57,
    "sec-hover":    #edba39,

    "text":         #1d2327,
    "text-sec":     #606e79,    
    "bg":           #f0f0f1,
    "bg-sec":       #ffffff,
    
    "border":       #d3d3d4,
    "disabled":     #dee1e3,
    
    "info":         #3FA7D6,
    "alert":        #c41c3b,
    "success":      #59CD90,
);

$colors-dark: (
    "text":         #f0f0f1,
    "text-sec":     #ffffff,    
    "bg":           #262b2f,
    "bg-sec":       #262625,
    
    "border":       #494949,
    "disabled":     #dee1e3,
);




$pri:       var(--pri);
$sec:       var(--sec);
$pri_h:     var(--pri-hover);
$sec_h:     var(--sec-hover);

$text:      var(--text);
$text_sec:  var(--text-sec);

$bg:        var(--bg);
$bg-sec:    var(--bg-sec);

$border:    var(--border);
$disabled:  var(--disabled);

$info: var(--info);
$alert: var(--alert);
$success: var(--success);