.hide{
    display: none;
}

.show{
    display: block;
}


.show-flex{
    display: flex;
}


.full-w{
    width: 100%;
}

.full-w__space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}