:root {
    --wpst__pri:      #2a6df4;
    --wpst__pri-hover:#0c57ed;
    --wpst__sec:      #ffeb57;
    --wpst__sec-hover:#edba39;

    --wpst__text:     #000000;
    --wpst__text_sec: #606e79;    
    --wpst__bg:       #ffffff;
    --wpst__bg_sec:   #f0f0f1;
    
    --wpst__border:   #d3d3d4;
    --wpst__disabled: #dee1e3;
    
    --wpst__info:     #3FA7D6;
    --wpst__alert:    #c41c3b;
    --wpst__success:  #59CD90;
}


$pri:       var(--wpst__pri);
$sec:       var(--wpst__sec);
$pri_h:     var(--wpst__pri-hover);
$sec_h:     var(--wpst__sec-hover);

$text:      var(--wpst__text);
$text_sec:  var(--wpst__text_sec);

$bg:        var(--wpst__bg);
$bg_sec:    var(--wpst__bg_sec);

$border:    var(--wpst__border);
$disabled:  var(--wpst__disabled);

$info: var(--wpst__info);
$alert: var(--wpst__alert);
$success: var(--wpst__success);