.container{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.container-left{
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.container-narrow{
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}

.container-wide{
    width: 100%;
}